// My styling so dark mode will function

.header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  color: #252727;
  border-bottom: 2px solid #252727;
  margin-bottom: 20px;
}

.darkModeBtn {
  align-self: center;
  font-weight: bold;
  background: #FFFFFF;
  color: #252727;
  border: 2px solid #252727;
}

.dark-mode {
  color: #FFFFFF;
  background: #252727;

  .header {
    color: #FFFFFF;
    background: #252727;
    border-bottom: 2px solid #FFFFFF;

    .darkModeBtn {
      background: #252727;
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
    }
  }
}
